---
import Main from "../../layouts/Main.astro";
---

<Main title="Boraduo - Sala" header={false}>
  <main class="container">
    <section>
      <div class="video-grid"></div>
      <div class="room-controls">
        <div class="chat"></div>
        <div class="controls"></div>
      </div>
    </section>
  </main>
</Main>

<style scoped>
  .container {
    max-width: 100%;
    width: 1920px;
    height: 100vh;
    padding: 40px;
  }
</style>
