---
import Title from "../components/Title.astro";
import BackgroundBlocks from "../components/BackgroundBlocks.astro";
import Main from "../layouts/Main.astro";
import Subtitle from "../components/Subtitle.astro";
---

<Main title="Boraduo - Página não encontrada" header={false}>
  <main class="container">
    <Title classes="header-title" />
    <BackgroundBlocks>
      <Subtitle subtitle="Parece que você está perdido, confie no mago !" />
    </BackgroundBlocks>
  </main>
</Main>

<style is:global>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .header-title {
    padding: 40px;
  }
</style>
