---
import { HomeForm } from "../components/HomeForm";
import { MetaBalls } from "../components/MetaBalls";
import Subtitle from "../components/Subtitle.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Boraduo - Home" classes="custom-body">
  <main class="container">
    <section class="wrapper">
      <div class="custom-background">
        <MetaBalls
          color="#393a3e"
          cursorBallColor="#393a3e"
          cursorBallSize={2}
          ballCount={15}
          animationSize={10}
          enableMouseInteraction={true}
          enableTransparency={true}
          hoverSmoothness={0.15}
          clumpFactor={0.8}
          speed={0.2}
          client:only
        />
      </div>
      <div class="hunters">
        <Subtitle subtitle="Encontre seu duo de maneira mais simples" />
        <img
          class="hunters-fig"
          src="/images/duos.png"
          alt="Grupo de caçadores"
        />
      </div>
      <div class="form">
        <HomeForm client:only />
      </div>
    </section>
  </main>
</Main>

<style is:global>
  .custom-body {
    height: 100vh;
    justify-content: center;
    align-items: start;
    display: grid;
    grid-template-rows: auto;
  }
  .custom-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
    overflow: hidden;
  }
  .form {
    display: flex;
    justify-content: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 28px;
    padding: 40px;
  }
  .hunters {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
    .hunters-fig {
      width: 800px;
      max-width: 110%;
    }
  }
</style>
