---
import type { AnchorHTMLAttributes } from "react";

interface Props extends AnchorHTMLAttributes<HTMLAnchorElement> {
  classes?: string;
  href: string;
}

const { classes = "", href } = Astro.props;
---

<a class:list={["link-button", classes]} href={href}>
  <slot />
</a>

<style scoped>
  .link-button {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #383a3d;
    padding: 15px 30px;
    border: 1px solid #23262d;
    transition: border-color 0.1s ease-in-out;
    color: #fff;
    font-size: 1rem;
    text-align: left;
    font-weight: 300;
    text-decoration: none;
    &:not(:disabled):hover {
      cursor: pointer;
      border-color: #fff;
      &:after {
        right: 0;
        bottom: 0;
      }
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: -10px;
      right: -10px;
      background-color: #ff2261;
      z-index: -1;
      transition:
        bottom 0.2s ease-in-out,
        right 0.2s ease-in-out;
    }
    &:disabled {
      opacity: 0.4;
      &:after {
        opacity: 0.2;
      }
    }
  }
</style>
