---
import GradientText from "./GradientText/GradientText.astro";

interface Props {
  classes?: string;
}

const { classes = "" } = Astro.props;
---

<GradientText className={classes}>
  <a href="/" class="title">BORADUO</a>
</GradientText>

<style is:global>
  .title {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    padding: 0 20px;
    color: inherit;
  }
</style>
