---
interface Props {
  title: string;
  header?: boolean;
}
import Header from "../components/Header.astro";
import Global from "../styles/Global.astro";
import { ToastContainer } from 'react-toastify';
import 'react-toastify/dist/ReactToastify.css';

const { title, header = true } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
  <Global>
    <head>
      <meta charset="UTF-8" />
      <meta
        name="description"
        content="Use boraduo para encontrar seu duo no jogos"
      />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta name="generator" content={Astro.generator} />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <slot name="header" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
        rel="stylesheet"
      />
      <title>{title}</title>
    </head>
    <body>
      {header && <Header />}
      <slot />
      <ToastContainer client:only="react" />      
    </body>
  </Global>
</html>
<style>
  body {
    background-color: #282828;
  }
</style>
